@media (min-width: $mobile) {

    .create--main {
        .alert-danger {
            padding: 5px;
            margin: 5px;
            border-radius: 20px;
            font-weight: bold;
        }
    }
}

@media (min-width: $tablet) {
    .create--main {
        .alert-danger {
            font-weight: bold;
            margin-left: 25%;
            margin-right: 25%;
            margin-top: 10px;
        } 
    }
}