@media (min-width: $mobile) {
	.hero--nav {
		margin-bottom: 0 !important;
	}

	nav {
		background-color: $main !important;
		border: none !important;
		border-radius: 0 !important;
		a {
			color: $white !important;
		}
	}

	.home--body {
		background-image: url('/../site-images/home.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		.home--jumbotron {
			background-color: rgba(0, 0, 0, 0.57);
			h1 {
				text-align: center;
				padding-bottom: 30px;
			}

			h1,p {
				color: white;
			}
		}

		.container-fluid {
			margin-top: 50px;
		}

	}

	img {
		max-width: 100%;
	}

	.gallery {
		.gallery--item {
			margin-bottom: 1em;
		}
	}
}

@media (min-width: $tablet) {
	.home--body {
		background-image: url('/../site-images/home.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		.home--jumbotron {
			background-color: rgba(0, 0, 0, 0.57);
			h1 {
				text-align: center;
			}
			padding: 100px;

			p {
				padding-top: 20px;
				padding-bottom: 20px;
			}

			h1,p {
				color: white;
			}
		}

		.container-fluid {
			margin-top: 50px;
		}
	}
}
