@media (min-width: $mobile) {

	.login--body {
		background-image: url('/../site-images/login.jpeg');
	}

	.login--body, .sign-up--body {
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		
		.form-group {
			font-size: 20px;
		}

		.login--jumbotron {
			background-color: rgba(0, 0, 0, 0.57);
			h1 {
				text-align: center;
			}

			h1, p, label, .form-group {
				color: white;
			}
		}
		
		.container-fluid {
			margin-top: 50px;
		}

	}
	
	img {
		max-width: 100%;
	}

	.gallery {
		.gallery--item {
			margin-bottom: 1em;
		}
	}
	
}

@media (min-width: $tablet) {
	
	.sign-up--body {
		background-image: url('/../site-images/register.jpg');
	}

	.login--body, .sign-up--body {
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		.login--jumbotron {
			background-color: rgba(0, 0, 0, 0.57);
			h1 {
				text-align: center;
				margin-bottom: 30px;
			}
			padding: 100px;

			p {
				padding-top: 20px;
				padding-bottom: 20px;
			}

			h1,p {
				color: white;
			}
		}

		.container-fluid {
			margin-top: 50px;
		}
	}
}
