@media (min-width: $mobile) {
    .alert-danger {
        padding: 5px;
        margin: 5px;
        border-radius: 20px;
        font-weight: bold;
    }
}

@media (min-width: $tablet) {
    .alert-danger {
        font-weight: bold;
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 95px;
    }
}