@media (min-width: $mobile) {
    .hero-layout--footer, .layout--footer {
        background-color: $dark;
        color: $white;
        text-align: center;
        .footer-icons {
            a:hover {
                color: white;
            }

            a {
                color: $darker !important;
            }
        }
        img {
            margin: 0 auto;
            padding-bottom: 20px;
            padding-top: 20px;
        }
        .col-xs-4 {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .footer-nav li{
            display: inline;
            margin-left: 5px;
            margin-right: 5px;
            font-size: 20px;
            cursor: pointer;
        }

        .footer-nav {
            padding-top: 10px;
            -webkit-padding-start: 0;
        }

        .footer-nav a:hover{
            color:  white;
            text-decoration: none;
        }
    }
    
    .layout--copyright, .hero-layout--copyright {
        background-color: $darker;
        color: $white;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
